body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: "niagara-engraved", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250px;
    text-align: center;
    line-height: 0.8em;
    padding: 0px;
    margin: 0px;
}


.game {
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
     font-style: normal;
    color: rgb(0, 92, 75);
    z-index: 1; 
    margin-top: -70px; 
    font-size: 150px; 
    position: absolute; 
    text-align: center;
    margin-left: 100px;
  
}

button{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: gold;
    border-color: rgb(0, 92, 75);
    border-style: dotted;
    border-width: 3px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
     font-style: normal;
     color:rgb(0, 92, 75) ;
     font-size: 25px;
     z-index: 3;
     margin-left: 170px;
     top: 200px;
     position: absolute;
}

button:hover {
    
    background-color: rgb(255, 255, 255);

     cursor: pointer;
}